  <div id="update_stock_status_form" class="card mb-3">
    <div class="card-header">
      <h1 class="card-title mb-0 h5">
        <%= Spree.t(:out_of_stock_status) %>
      </h1>
    </div>
    <div class="card-body">
      <%= form_for [:admin, @product], url: admin_product_path(@product) do |f| %>
        <div data-hook="admin_stock_movements_form_fields" class="row">
          <div class="col-12 col-lg-5">
            <div class="form-group">
              <%= f.field_container :stock_status do %>
                <%= select_tag 'product[stock_status_id]',
                options_from_collection_for_select(Spree::StockStatus.non_stock_arrivals(include_id: @product.stock_status_id), :id, :name, @product.stock_status_id),
                  include_blank: Spree.t(:default), class: 'select2' %>
              <% end %>
            </div>
          </div>
          <div class="col-12 col-lg-5">
            <div class="form-actions text-center" data-hook="buttons">
              <%= button Spree.t('actions.update'), 'save.svg' %>
            </div>
          </div>
        </div>
      <% end %>

      <%= form_for [:admin, Spree::StockArrival.new], url: admin_stock_arrivals_path do |f| %>
        <fieldset>
          <legend><%= Spree.t(:'admin_product_arrival.title') %></legend>
          <div class="row">
            <div class="col-12 col-md-4">
              <div class="form-group">
                <%= label_tag :'stock_arrival[variant_id]', Spree.t(:variant) %>
                <% variants = @product.variants.any? ? @product.variants : [@product.master] %>
                <%= select_tag :'stock_arrival[variant_id]',
                  options_from_collection_for_select(variants, :id, :sku, @product.master.id),
                    class: 'select2' %>
              </div>
            </div>

            <div class="col-12 col-md-4">
              <div class="form-group">
                <%= label_tag :'stock_arrival[stock_status_id]', Spree.t(:'admin_product_arrival.existing_status') %>
                <%= select_tag :'stock_arrival[stock_status_id]',
                options_from_collection_for_select(Spree::StockStatus.stock_arrivals.order(id: :desc), :id, :name, @product.stock_status_id),
                  class: 'select2' %>
              </div>
            </div>

            <div class="col-12 col-md-4">
              <div class="form-group">
                <%= label_tag :'stock_arrival[arriving_from]', Spree.t(:'admin_product_arrival.new_status') %>
                <div class="form-group">
                  <div class="row">
                    <div class="col-12 col-md-2">
                      <%= Spree.t(:date_from) %>
                    </div>
                    <div class="col-12 col-md-10">
                      <%= text_field_tag 'stock_arrival[arriving_from]', nil, placeholder: 'dd.mm.YYYY' %>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12 col-md-2">
                      <%= Spree.t(:date_to) %>
                    </div>
                    <div class="col-12 col-md-10">
                      <%= text_field_tag 'stock_arrival[arriving_to]', nil, placeholder: 'dd.mm.YYYY' %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-5">
            <div class="form-actions text-center" data-hook="buttons">
              <%= button Spree.t('actions.update'), 'save.svg' %>
            </div>
          </div>
        </fieldset>
      <% end %>
    </div>
  </div>
